@use "../custom" as *;

//imagenes
.image-logo {
  content: url(../img/forum/logo-forum.svg);
}

.image-logo-centrado {
  content: url(../img/logo-bnp.svg);
}

.img_log-ejecutivo {
  content: url(../img/forum/person-fill.svg);
}

.img_cerrar_sesion {
  content: url(../img/forum/Icono_cerrar_sesion.svg);
}

.img-cesantia {
  content: url(../img/forum/Ilustration-seguro.svg);
}

.img-proteccion {
  content: url(../img/forum/Ilustration-seguro2.svg);
}

.img-home {
  content: url(../img/forum/Ilustration-seguro3.svg);
}

.img-otras-coverturas {
  content: url(../img/forum/Ilustration-seguro4.svg);
}

.img-documento {
  content: url(../img/forum/file-earmark-text.svg);
}

.img-consorcio {
  content: url(../img/forum/coin.svg);
}

.img-preguntas {
  content: url(../img/forum/question-circle.svg);
}

.img-informacion {
  content: url(../img/forum/informacion.svg);
}

.img-informacion:hover {
  content: url(../img/forum/info-circle-fill.svg);
}

.img-aviso-alerta {
  content: url(../img/forum/exclamation-circle.svg);
  margin-bottom: 30px;
}

.img-confirmacion-naranja {
  content: url(../img/forum/confirmacion-naranja.svg);
  margin-bottom: 30px;
}

.img-informacion-modal {
  content: url(../img/forum/info-circle.svg);
  margin-bottom: 30px;
}

.img-logo-footer {
  content: url(../img/forum/logo-forum.svg);
  width: 100px;
  height: auto;
}

.img-cardif-footer {
  content: url(../img/cardif-footer.svg);
}

.img-ojo {
  content: url(../img/forum/eye.svg);
}

.img-eliminar-carga {
  content: url(../img/forum/trash.svg);
}

// Colores
$primary: $main-medium;
$secondary: $azul;
$info: #007ab7;
$light: #ffffff;
$dark: $azul-hover;
$error: #ff0000; //luis
$gray-light: #D9D3CF; //luis

//Tooltips
$tooltip-bg: $main-light;
$tooltip-color: $neutral-dark;

// Importar Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.text-black {
  --bs-black-rgb: $neutral-dark;
}

.btn.btn-primary:hover {
  background-color: $blue-light;
  border-color: $blue-light;
}

.btn.btn-primary:active {
  background-color: $blue-medium;
  border-color: $blue-medium;
}

.btn.btn-outline-secondary {
  color: $neutral-dark;
  border-color: $main-medium;
}

.btn.btn-outline-secondary:hover {
  background-color: inherit;
  border-color: $blue-light;
}

.btn.btn-outline-secondary:active {
  color: $neutral-dark;
  background-color: inherit;
  border-color: $blue-medium;
}

//NavBar

//Nav
$navbar-light-active-color: $naranja;

.color-primary {
  color: $naranja;
}

.color-white {
  color: $light;
}

.color-error {
  color: $error;
}

.featurette.itau {
  --bs-bg-opacity: 1;
  background-color: $light;
  border-radius: 4px;
  padding: 3rem;
  border-left: 10px solid $main-medium;
}

section#navBar {
  background-color: $light;
}

.header-bg {
  width: 100%;
  background-color: $light;
}

.log-ejecutivo {
  border-radius: 4px;
  border: 1px solid $neutral-light;
  padding: 8px 16px;
  color: $neutral-dark;
}

.log-ejecutivo img {
  width: 16px;
}

.dropdown-toggle::after {
  display: none;
  content: "";
  width: 30px;
  padding: 1px 7px;
  background-position: center;
  background-position-y: 4px;
  border-top: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  background-image: url(../img/forum/Chevron.svg);
}

.nav-itau {
  background-color: $light;
}

.nav-itau div ul li.nav-item .nav-link {
  padding: 18px 50px;
}

.nav-itau li a {
  color: $textos;
}

.nav-itau a.nav-link.active {
  border-bottom: 4px solid $main-medium;
  color: $main-medium;
}

.nav-itau a.nav-link {
  text-transform: uppercase;
  font-family: "ForumBold";
}

.divisor {
  border-right: 2px solid $main-medium;
  height: 40px;
}

.divisor-line {
  border: 1px solid $bordes-card;
  width: 90%;
}

li.nav-item {
  text-align: center;
}

//NavBar
//Content

section#contenedor-mayor {
  width: auto;
  height: auto;
}

body {
  --bs-border-radius: 4px;
  --bs-body-color: $neutral-dark;
  font-family: "ForumMedium", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  counter-reset: section;
  background-color: $neutral;
}

.body-fondo {
  padding: 24px;
  height: auto;
  background: $light;
  box-shadow: 0px 1px 2px $box;
  border-radius: 8px;
}

h1 {
  font-family: "ForumBold", sans-serif;
  font-size: 28px;
}

h2 {
  font-size: 24px;
  color: $neutral-dark !important;
}

.card-content * {
  font-family: "ForumMedium";

  h4 {
    font-size: 18px;
  }

  span {
    font-size: 14px;
  }
}

.btn {
  --bs-border-radius: 4px;
}

span,
p,
ul,
li {
  font-family: "ForumRegular";
}

.img-doc {
  float: left;
}

.header-detalle {
  padding: 12px;
  background-color: $main-medium20;
  border: 1px solid $main-medium;

  tr,
  th {
    background-color: $main-medium20;
  }
}

.tabla-socio {
  //height: 56px;
  vertical-align: middle;

  tr,
  thead {
    //  height: 56px;
    vertical-align: middle;
  }
}

.itau {
  background-color: $yellow;

  tr,
  th {
    background-color: $neutral-light2;
  }
}

.accordion-button {
  border: 1px solid $main-medium;
}

//boton disabled
.btn:disabled,
.btn.disabled,
fieldset:disabled .btn {
  color: $neutral-light2 !important;
  pointer-events: none;
  background-color: $neutral-medium !important;
  border-color: $neutral-medium !important;
  opacity: var(--bs-btn-disabled-opacity);
}

.button-search {
  color: $neutral-light2;
  border-color: $orange-medium;
  background-color: $orange-medium;
  border-radius: 8px;
  max-height: 50px;

  &:hover {
    color: $neutral-light2;
    background-color: $orange-light;
    border-color: $orange-light;
  }
}

.custom-card {
  width: 327px !important;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 280px;
  padding: 16px;
  background: $light;
  border-radius: 8px;
  transition: all 0.3s ease-in;
  position: relative;
  box-shadow: 0px 1px 2px 0px $box;
  border-color: $naranja;
  margin-top: 0px;
  min-height: 256px;
  border: 2px solid $light;

  &:hover {
    transition: all 0.3s ease-in;
    transform: translateY(10px) scale();
    z-index: 99;
    border: 2px solid $primary;
  }
}

.card-content .card-body a {
  padding: 0px;
  text-decoration: none;
}

.container-btn {
  bottom: 0;
  position: inherit;
  width: 100%;

  .btn {
    width: 100%;
  }

}

input[type="date"]::-webkit-calendar-picker-indicator {
  width: 25px;
  height: 25px;
  margin-bottom: 15px;
}

.datepicker table tr td span.active,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover {
  background-image: -webkit-linear-gradient(top, $naranja, $naranja) !important;
}

.backg-revision-siniestros-home {
  background-image: url(../img/forum/imagen_home.png);
  background-position: center;
  background-size: cover;
  height: auto;
  border-radius: 4px;
}

.card-seguros-asociados-2.active {
  border: 2px solid $main-medium;
}

.card-seguros-asociados-2.active .top2 {
  background-color: $main-medium;
  color: $light;

  h1,
  p {
    color: $light;
  }
}

.card-seguros-asociados-2.no-vigente {
  border: 2px solid $neutral-light;

  .text-cards-1 {
    color: $neutral-light;
  }

  .footer-monto-2 {
    color: $neutral-light;
  }
}

.card-seguros-asociados-2.declaracion-ingresada {
  border: 2px solid $neutral-medium;

  .text-cards-1 {
    color: $neutral-medium;
  }

  .footer-monto-2 {
    color: $neutral-medium;
  }
}

.taginfo2 {
  background-color: $light;
  flex-direction: row;
  border-radius: 20px;
  justify-content: center;
  padding: 7px 13px;
  text-align: right;
  color: $titulo-cabecera;
}

.card-seguros-asociados-2.active .top2 .taginfo2 {
  background-color: $white;
  flex-direction: row;
  border-radius: 20px;
  justify-content: center;
  padding: 7px 13px;
  text-align: right;
  color: $neutral-dark;
}

.card-seguros-asociados-2.active .top2 h1 {
  font-family: "ForumRegular";
}

.card-seguros-asociados-2 .top2 {

  .nombre-seguro-2,
  .cobertura .text-cards-1 {
    color: $white;
  }
}

.accordion-button.socio {
  border-radius: 0px !important;

  .no-info {
    color: $neutral-light;
  }

  &a {
    color: $neutral-light;
  }
}

.accordion-button.socio.no-info {
  color: $neutral-light;
  border: 1px solid $neutral-light;
}

.accordion-button.collapsed.socio.no-info div a {
  color: $neutral-light;
}

.socio.no-info div span.custom-chip {
  border-color: $neutral-medium !important;
  color: $neutral-medium !important;
  background-color: $neutral-light2;
}

.socio.no-info div span.custom-chip::after {
  content: url(../img/forum/x-circle-fill-disabled.svg);
}

//WIZARD

//styling
$borderWidth: 3px;
$animationTime: 1.5s;
$border-color-default: $gray-light;
$border-color-fill: $main-medium;
$size: 40px;
$howManySteps: 20;

body {
  background-color: $neutral;
}

.row.progreso {
  height: 56px;
  background-color: $light;
  padding: 8px;
  border-bottom: 2px solid $gray;
  margin-top: 25px;
  margin-bottom: 16px;
}

.title-seccion {
  padding: 10px 10px 0px 51px;
  font-size: 16px;
  font-weight: bolder;
}

.progress {
  width: $size;
  height: $size;
  line-height: $size;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: absolute; //ex-relative

  &:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: $borderWidth solid $border-color-default;
    position: absolute;
    top: 0;
    left: 0;
  }

  >span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }

  .progress-left {
    left: 0;
  }

  .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: $borderWidth;
    border-style: solid;
    position: absolute;
    top: 0;
    border-color: $border-color-fill;
  }

  .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: calc($size / 2);
    border-bottom-right-radius: calc($size / 2);
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
  }

  .progress-right {
    right: 0;

    .progress-bar {
      left: -100%;
      border-top-left-radius: calc($size / 2);
      border-bottom-left-radius: calc($size / 2);
      border-right: 0;
      -webkit-transform-origin: center right;
      transform-origin: center right;
    }
  }

  .progress-value {
    display: flex;
    border-radius: 50%;
    font-size: 13px;
    text-align: center;
    line-height: 20px;
    align-items: center;
    justify-content: center;
    height: 80%;
    color: $main-medium;
    //font-family: $work-sans;
    font-weight: 300;

    div {
      margin-top: 7px;
      margin-left: -2px;
    }

    span {
      font-size: 12px;
      text-transform: uppercase;
    }
  }
}

@for $i from 1 through $howManySteps {
  $stepName: (
    $i * calc(100 / $howManySteps)
  );

@if $i <=calc($howManySteps / 2) {
  .progress[data-percentage="#{$stepName}"] {
    .progress-right .progress-bar {
      animation: loading-#{$i} $animationTime linear forwards;
    }

    .progress-left .progress-bar {
      animation: 0;
    }
  }
}

@if $i >calc($howManySteps / 2) {
  .progress[data-percentage="#{$stepName}"] {
    .progress-right .progress-bar {
      animation: loading-#{calc($howManySteps / 2)} $animationTime linear forwards; //set the animation to longest animation
    }

    .progress-left .progress-bar {
      animation: loading-#{$i -
 calc($howManySteps / 2)
    }

    $animationTime linear forwards $animationTime;
  }
}
}
}

//animation
@for $i from 1 through calc($howManySteps / 2) {
  $degrees: calc(180 / ($howManySteps / 2));
  $degrees: (
    $degrees * $i
  );

@keyframes loading-#{$i} {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate($degrees);
    transform: rotate(#{$degrees}deg);
  }
}
}

//additional styling
.progress {
  margin-bottom: 1em;
}

//Card

.nombre-seguro {
  align-self: stretch;
  position: relative;
  display: inline-block;
  height: 26px;
  flex-shrink: 0;
}

.card-de-productos {
  cursor: pointer;
  flex: 1;
  background: $light;
  box-shadow: 0px 1px 2px $box;
  border-radius: 8px;
  border: 1px solid $main-medium;
  box-sizing: border-box;
  height: 132px;
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:hover {
    transition: all 0.3s ease-in;
    transform: translateY(10px) scale();
    z-index: 99;
    color: $light;
    background-color: $primary;
  }
}

.cardProductos {
  text-align: center;
}

.cardProductos .container {
  padding: 30px 30px;
}

.cardProductos .cards {
  padding: 10px 10px;
}

.div {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  width: 800px;
  flex-wrap: wrap;
  justify-content: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  text-align: center;
}

.content-card1 {
  background: $light;
  width: 1223px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

//Card

//Cards

.card-seguros-asociados-1 {
  cursor: pointer;
  border-radius: 8px;
  background-color: $light;
  border: 2px solid $naranja;
  box-sizing: border-box;
  width: 272px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: 24px;
}

.card-seguros-asociados-2 {
  cursor: pointer;
  border-radius: 8px;
  background-color: $light;
  border: 2px solid $main-light;
  box-sizing: border-box;
  width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: 24px;
}

.card-seguros-asociados-3 {
  cursor: pointer;
  border-radius: 8px;
  background-color: $light;
  border: 2px solid $bordes-card;
  box-sizing: border-box;
  width: 272px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: 24px;
}

.taginfo1 {
  background-color: $white;
  flex-direction: row;
  border-radius: 20px;
  border: 1px solid $neutral-medium;
  justify-content: center;
  padding: 8px;
  text-align: right;
  color: $neutral-dark;
}

.taginfo2 {
  background-color: $light;
  flex-direction: row;
  border-radius: 20px;
  justify-content: center;
  padding: 7px 13px;
  text-align: right;
  color: $titulo-cabecera;
}

.taginfo3 {
  background-color: $light;
  flex-direction: row;
  border-radius: 20px;
  border: 1px solid $gray-light;
  justify-content: center;
  padding: 8px;
  text-align: right;
}

.top1 {
  align-self: stretch;
  background-color: $naranja;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  gap: 24px;
  z-index: 0;
}

.top2 {
  align-self: stretch;
  background-color: $main-light;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  gap: 24px;
  z-index: 0;
}

.top3 {
  align-self: stretch;
  background-color: $neutral-light;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  gap: 24px;
  z-index: 0;
}

.top4 {
  align-self: stretch;
  background-color: $neutral-medium;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  gap: 24px;
  z-index: 0;
}

.nombre-seguro-1 {
  align-self: center;
  position: relative;
  display: inline-block;
  height: 26px;
  flex-shrink: 0;
  color: $light;
}

.nombre-seguro-2 {
  align-self: center;
  position: relative;
  display: inline-block;
  height: 45px;
  flex-shrink: 0;
  color: $light;
  font-size: 24px;
}

.nombre-seguro-3 {
  align-self: center;
  position: relative;
  display: inline-block;
  height: 26px;
  flex-shrink: 0;
  color: $placeholder;
}

.text-cards-1 {
  margin: 0;
  color: $textos;
}

.text-cards-2 {
  margin: 0;
  color: $placeholder;
}

.cobertura {
  align-self: stretch;
  position: relative;
  line-height: 140%;
}

.monto {
  align-self: stretch;
  position: relative;
  line-height: 140%;
}

.content1,
.description {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.description {
  padding: 24px;
  z-index: 1;
  text-align: left;
  color: $titulo-cabecera;
}

.cards-seguros {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
}

.content-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  border-radius: 16px;
  box-shadow: 12px;
  width: 1223px;
  flex-direction: column;
  justify-content: center;
  padding: 32px;
  box-sizing: border-box;
  gap: 32px;
  color: $error;
}

.fecha-contratacion {
  background: $bordes-card;
  border: 1px solid $gray-light;
  border-radius: 28px;
  padding: 4px 8px;
  position: relative;
  font-size: 12px;
}

//Alert

.alert {
  border-radius: 4px;
  color: $neutral-dark;
}

.alert-informative {
  border: 1px solid $main-dark;
  background-color: $main-medium10;

  .img-alerta {
    content: url(../img/forum/info-circle.svg);
  }
}

.alert-success {
  border: 1px solid $success;
  background-color: $success-hover10;

  .img-alerta {
    content: url(../img/forum/check-circle.svg);
  }
}

.alert-warning {
  border: 1px solid $warning;
  background-color: $warning-hover10;

  .img-alerta {
    content: url(../img/forum/exclamation-circle.svg);
  }
}

.alert-danger {
  border: 1px solid $danger;
  background-color: $danger-hover10;

  .img-alerta {
    content: url(../img/forum/x-circle.svg);
  }
}

.aviso-alerta {
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mensaje-de-informacion {
  position: relative;
  line-height: 21px;
}

.mensaje-de-informacion-2 {
  align-self: stretch;
  position: relative;
  line-height: 20px;
}

//Footer

section#footer {
  background-color: $blue-dark;
}

.text-footer-1 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $light;
}

.text-footer-2 {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 19px;
  color: $light;
}

//Footer

.eventos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
}

.div1,
.exito,
.files,
.input-download {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.exito {
  gap: 25px;
  cursor: pointer;
  text-align: center;
  color: $titulo-cabecera;
}

.div1,
.input-download {
  gap: 25px;
}

.div1 {
  width: 400px;
  flex-direction: row;
}

.files1 {
  text-align: left;
  color: $gray;
}

.exito1,
.files1,
.inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.exito1 {
  gap: 25px;
  text-align: center;
  color: $titulo-cabecera;
}

.agrega {
  text-decoration: underline;
  cursor: pointer;
}

.o-arrastra-tus {
  color: $neutral-dark;
}

.agrega-o-arrastra-container,
.puedes-subir-hasta {
  align-self: stretch;
  position: relative;
  line-height: 22px;
  color: $main-medium;
}

.puedes-subir-hasta {
  line-height: 19px;
  font-size: 12px;
  color: $neutral-medium;
}

.adjuntar,
.file-upload-modulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.adjuntar {
  align-self: stretch;
  gap: 5px;
}

.file-upload-modulo {
  border-radius: 8px;
  border: 1px dashed $blue-medium;
  box-sizing: border-box;
  //width: 400px; //luis
  padding: 25px;
}

.lipsumjpg,
.mb {
  position: relative;
}

.lipsumjpg {
  align-self: stretch;
  line-height: 22px;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 22px;
  flex-shrink: 0;
}

.rescate-icon {
  content: url(../img/forum/upload.svg);
  position: relative;
  width: 16px;
  height: 16px;
}

.icono {
  border-radius: 100px;
  background-color: $main-light15;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.confirmacin-icon {
  position: relative;
  width: 10px;
  height: 10px;
  content: url(../img/forum/check-circle-fill.svg);
}

.peso-icono {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
}

.nombre-detalle {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.icono-texto {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
}

.ojo {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
}

.eliminar-cargadedocumentos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.icons {
  gap: 5px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
}

.file-upload-mensaje-1 {
  flex: 1;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
}

.footer-monto-1 {
  padding: 0 13px;
  text-align: center;
  color: $titulo-cabecera;
}

.footer-monto-2 {
  padding: 0 13px;
  text-align: center;
  color: $placeholder;
}

.archivos {
  max-width: 391px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;

  .text-start:not(.color-error) {
    color: $neutral-dark;
  }

  .peso-icono {
    color: $success;
  }
}

.peso-icono {
  color: $success;
}

//tipografias
$headings-font-family: "ItauDisplay";
$headings-color: $titulo-cabecera;

//modal
$modal-content-color: $textos;

.modal-header>.modal-title {
  color: $main-medium;
}

.accordion {
  margin-bottom: 8px;
}

//acordeon
$accordion-border-color: $bordes-card;
$accordion-icon-color: $naranja;

.act-buttons>button {
  font-weight: 700 !important;
}

.row.container-cobertura {
  border: 1px solid $neutral-light;
  border-radius: 12px;

  &:hover {
    border: 1px solid $main-medium;
  }
}

.box-cobertura {
  background-color: $neutral-light;
  border-radius: 12px 0px 0px 12px;
}

.row.box-coberturas-row-top {
  background-color: $neutral-light2;
  min-height: 56px;
  height: auto;
  padding: 17px 13px;
  font-weight: bolder;

  .row.box-coberturas-row-top.activa {
    background-color: $light-05;
  }
}

.box-coberturas-row-top:last-child {
  border-radius: 10px;
  background-color: $error;
  border: 1px solid $error;
}

.box-coberturas-row-down {
  background-color: $light;
  min-height: 56px;
  height: auto;
  padding: 17px 5px;
  border-radius: 12px;

  span {
    position: relative;
    top: -7px;
    width: auto;
  }
}

.btns-offcanvas {
  background-color: $gray-2;
  height: 87px;
}

.table> :not(caption)>*>* {
  color: $neutral-dark;
}

.tabla_detalle .table_column {
  background-color: $main-medium;
  color: $neutral-dark;
  text-align: center;

  h2 {
    color: $neutral-dark;
  }
}

.tabla_detalle {
  border: 2px solid $main-medium;
  border-radius: 16px;
}

.tabla_detalle .table_column * {
  color: $light;
}

.tabla_detalle table th {
  background-color: $main-medium20;
  border-bottom: 1px solid $main-medium;
}

.tabla_detalle table td {
  background-color: $main-light10;
}

.table.cons-estado th {
  background-color: $gray-light;
  text-align: center;
}

.top3-custom {
  align-self: stretch;
  background-color: $main-medium;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  z-index: 0;
}

.top3.tabla_detalle.status * {
  color: $light;
}

.top3.tabla_detalle.status {
  background-color: $main-medium;
}

.top3-custom.tabla_detalle.status * {
  color: $light;
}

.card-seguros-asociados-custom {
  cursor: pointer;
  border-radius: 8px;
  background-color: $light;
  border: 2px solid $gray-light;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  h4,
  h6 {
    color: $light;
  }
}

.fila-cuotas-mobile {
  background-color: $main-medium20;
}

.card-body-table .monto:nth-of-type(even) {
  background-color: $ligth-07;
}

.splide__pagination__page {
  background: $ligth-06;
  border: 0;
  border-radius: 50%;
  display: inline-block;
  height: 16px !important;
  margin: 3px;
  opacity: 0.7;
  padding: 0;
  position: relative;
  transition: transform 0.2s linear;
  width: 16px !important;
}

.splide__pagination__page.is-active {
  background: $main-medium !important;
  transform: scale(1.4);
  z-index: 1;
  width: 31px !important;
  border-radius: 37px;
}

.form-floating>label {
  font-size: 0.9rem;
}

.modal img {
  width: 24px;
}

.emitido {
  border-color: $success-hover;
  color: $success !important;
  background-color: $success-hover8;
}

span.emitido::after {
  margin-left: 4px;
  content: url(../img/forum/check-circle-fill.svg);
}

.pendiente {
  border-color: $warning;
  color: $warning-dark;
  background-color: $warning-hover15;
}

span.pendiente::after {
  margin-left: 4px;
  content: url(../img/forum/x-circle-fill.svg);
}

.rechazado {
  border-color: $danger-hover;
  color: $danger !important;
  background-color: $danger-hover10;
}

span.rechazado::after {
  margin-left: 4px;
  content: url(../img/forum/x-circle-fill-error.svg);
}

.page-item .form-control:disabled {
  background-color: $main-light;
}

.page-link i {
  color: $main-medium;
}

//tablas responsivas Luis
@include media-breakpoint-down(sm) {
  table.tabla-custom tr {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(128, 128, 128);
    padding: 1em;
    margin-bottom: 1em;
  }

  .tabla_detalle {
    border: 2px solid $main-medium;
    border-radius: 6px 6px 0px 0px;
  }

  .featurette.itau {
    --bs-bg-opacity: 1;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 1rem;
  }

  table.tabla-custom {
    width: 100%;
  }

  .tabla-socio tr,
  .tabla-socio thead {
    height: auto;
    vertical-align: middle;
  }

  table.tabla-custom td[data-titulo] {
    display: flex;
  }

  table.tabla-custom td[data-titulo]::before {
    content: attr(data-titulo);
    width: 150px;
    font-weight: bold;
    margin-right: 10px;
  }

  table.tabla-custom thead {
    display: none;
  }

  .act-buttons {
    display: flex;
    flex-flow: column-reverse;

    button {
      margin-top: 10px;
    }
  }
}

@include media-breakpoint-down(md) {
  .box-cobertura {
    background-color: $gray-light;
    border-radius: 12px 12px 0px 0px;
  }
}

@include media-breakpoint-up(md) {

  #splidesiniestro ul.splide__pagination {
    position: relative;
    top: 10px;
  }

  .act-buttons>button {
    margin-right: 0.5rem
  }
}


@include media-breakpoint-up(lg) {
  .row.box-coberturas-row-top {
    background-color: $ligth-07;
    height: 56px;
    padding: 4px 13px;
    font-weight: bolder;
  }

  .act-buttons>button {
    margin-right: 0.5rem
  }
}

@include media-breakpoint-up(xl) {
  .row.box-coberturas-row-top {
    background-color: $ligth-07;
    height: auto;
    font-weight: bolder;
  }
}