@use "../custom" as *;

//NavBar

section#navBar {
  background-color: $light;
}

.header-bg {
  width: 100%;
  background-color: $light;
}

.log-ejecutivo {
  border-radius: 22px;
  border: 1px solid #efe9e5;
  padding: 4px;
  color: #231d19;
}

.log-ejecutivo img {
  width: 30px;
}

.dropdown-toggle::after {
  display: none; //por defecto inline cuando se use
  content: "";
  width: 30px;
  padding: 1px 7px;
  background-position: center;
  background-position-y: 4px;
  border-top: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  background-image: url(../img/Chevron.svg);
}

.nav-itau {
  background-color: $light;
}

.nav-itau div ul li.nav-item .nav-link {
  padding: 18px 50px;
}

.nav-itau li a {
  color: $textos;
}

.nav-itau a.nav-link.active {
  border-bottom: 4px solid $naranja;
  color: $naranja;
}

.divisor {
  border-right: 2px solid $naranja;
  height: 40px;
}

//NavBar

//Content

section#contenedor-mayor {
  width: auto;
  height: auto;
}

.body-fondo {
  padding: 24px;
  height: auto;
  background: $light;
  box-shadow: 0px 1px 2px rgba(91, 81, 73, 0.2);
  border-radius: 8px;
}

body {
  font-family: "ItauRegular";
  background-color: $neutral;
}

h1 {
  font-family: "ItauDisplay", sans-serif;
  font-size: 28px;
}

h2 {
  font-size: 22px;
  color: $textos;
}

span,
p,
ul,
li {
  font-family: "ItauRegular";
}

//Splide
.splide {
  position: relative;
  visibility: hidden;
  max-height: 300px;
}

.splide__pagination__page.is-active {
  background: $primary !important;
  transform: scale(1.4);
  height: 10px;
  width: 10px;
  border-radius: 6px;
  margin: 5px 8px;
}

ul.splide__pagination {
  position: relative;
  top: -73px;
}

.custom-card {
  width: 327px !important;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 274px;
  padding: 0px;
  background: $light;
  border-radius: 8px;
  transition: all 0.3s ease-in;
  position: relative;
  box-shadow: 0px 1px 2px 0px rgba(91, 81, 73, 0.2);
  border-color: $primary;
  margin-top: 0px;

  &:hover {
    transition: all 0.3s ease-in;
    transform: translateY(10px) scale();
    z-index: 99;
    border: 2px solid $primary;
  }
}

.card-content .card-body a {
  padding: 0px;
  text-decoration: none;
}

.container-btn {
  bottom: 0;
  position: inherit;
}

@media only screen and (max-width: 576px)  {
  button.splide__pagination__page {
    position: relative;
    top: 90px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 768px){
  button.splide__pagination__page {
    position: relative;
    top: -500px;
  }
}

@media (min-width: 1024px) {
  button.splide__arrow.splide__arrow--prev {
    position: relative;
    left: -73px;
    top: 171px;
  }

  button.splide__arrow.splide__arrow--next {
    position: relative;
    left: 1300px;
    top: 151px;
  }
}

//Splide

//Footer

section#footer {
  background-color: $naranja;
}

.text-footer-1 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.text-footer-2 {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 19px;
  color: #ffffff;
}

//Footer
