// Reescribir Colores

// Cardif
$verde: #00965e;
$neutral: #eeeeee;
$titulo-cabecera: #231d19;
$textos: #56504c;
$texto-claros: #efe9e5;
$placeholder: #89837f;

// Itau
$naranja: #ec7000;
$naranja-hover: #bc5900;
$light-01: #fee082;
$light-02: #fef3e0;
$azul: #003399;
$azul-hover: #00287a;
$azul-light: #b5c1f5;
$light-03: #c2c9ea;
$light-04: #e7eaf7;
$verde: #4cac8b;
$neutral: #faf7f5;
$titulo-cabecera: #231d19;
$textos: #56504c;
$placeholder: #89837f;
$gray: #939598;
$gray-2: #F9F6F5;
$bordes-card: #efe9e5;
$yellow: #f5c66d;
$light-05: #fee0b2;
$alert-warning:#F1AE2F;
$alert-error: #B71C1C;
$alert-ligth: #F6E1E1;
$box: rgba(91, 81, 73, 0.2);
$ligth-06:#CCCCCC;
$ligth-07:#F3F0EF;
$emitido: #008859;

// Fonts
@font-face {
  font-family: "ItauRegular";
  src: url("../../src/fonts/Itau/ItauTextPro_W_Rg.woff2");
}

@font-face {
  font-family: "ItauDisplay";
  src: url("../../src/fonts/Itau/ItauDisplayPro_W_Bd.woff2");
}

//Fin Itau


// CLA
$azul: #003399;
$azul-hover: #00287a;
$light-03: #c2c9ea;
$light-04: #e7eaf7;


//FORUM
$blue-dark:#00194C;
$blue-medium:#2B3F79;
$blue-light:#5B69A8;
$main-dark:#006CAC;
$main-medium:#009ADE;
$main-medium10:#009ADE1A;
$main-medium20: #009ADE33;
$main-light:#61CCFF;
$main-light10: #61CCFF1A;
$main-light15: #61CCFF26;
$mint-dark:#00AB82;
$mint-medium:#00DEB2;
$mint-light:#65FFE4;
$orange-dark:#A40000;
$orange-medium:#DE4300;
$orange-light:#FF7637;
$neutral-dark:#333333;
$neutral-medium:#999999;
$neutral-light:#CCCCCC;
$neutral-light2:#F1F1F1;
$white:#FFFFFF;

$warning-dark: #D8B500;
$warning:#FFD600;
$warning-hover:#FFFF8D;
$warning-hover10: #FFFF8D1A;
$warning-hover15: #ffd60026;
$danger:#BA000D;
$danger-hover:#F44336;
$danger-hover10:#F443361A;
$success:#005F00;
$success-hover:#67BF45;
$success-hover8:#67bf4514;
$success-hover10:#67BF451A;

@font-face {
  font-family: "ForumBold";
  src: url("../../src/fonts/Forum/Comfortaa-Bold.ttf");
}

@font-face {
  font-family: "ForumLight";
  src: url("../../src/fonts/Forum/Comfortaa-Light.ttf");
}

@font-face {
  font-family: "ForumMedium";
  src: url("../../src/fonts/Forum/Comfortaa-Medium.ttf");
}

@font-face {
  font-family: "ForumSemibold";
  src: url("../../src/fonts/Forum/Comfortaa-SemiBold.ttf");
}

@font-face {
  font-family: "ForumRegular";
  src: url("../../src/fonts/Forum/Comfortaa-Regular.ttf");
}
//fin forum;

// Fin Reescribir Colores

// Colores
$primary: $naranja;
$secondary: $azul;
$info: #007ab7;
$light: #ffffff;
$dark: $azul-hover;
$error: #ff0000; //luis
$gray-light: #D9D3CF; //luis

//botones
$btn-border-width: 2px;
$btn-padding-y: 10px;

//inputs
$input-padding-y-lg: 11px;
$input-font-size-lg: 1rem;
$input-font-size: 0.9rem;
$input-font-weight: normal;

//floating inputs
//$form-floating-label-transform: translateY(-25%) scale(0.9) translateX(10%);
$form-floating-transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;

//form
$form-floating-height: 3rem;
$form-select-border-radius: 8px;
$form-select-border-radius-lg: 8px;

//acordeon
$accordion-border-radius: 8px;
$accordion-inner-border-radius: 8px;
//$accordion-button-icon: url(../img/ic_flecha.svg);

//modal
$modal-content-border-radius: 12px;
$modal-inner-padding: 32px;

//alertas
$alert-border-radius: 8px;
$input-border-radius: 8px;

//barras de progreso
$position-values: (
  0: 0,
  25: 25%,
  35: 30%,
  50: 50%,
  70: 65%,
  75: 75%,
  100: 100%,
);


.form-floating>label {
  padding: 0.75rem !important;
}


.row.block2 {
  height: 60px;
}

.row.block4 {
  height: 40px;
}

//Border
$toast-border-radius: 8px;
$border-radius: 8px;

//acordeones en tablas luis
.table-sin-bordes {
  border-style: hidden;
}

//custom chip luis
span.custom-chip {
  border-width: 1px;
  border-style: solid;
  border-radius: 16px;
  padding: 4px 8px;
  //  border-color: blue;
}

tbody.table-sin-bordes.tabla-socio tr td a {
  cursor: pointer;
}

//fin custom chip luis

.box-coberturas-row-top.last {
  border-radius: 0px 11px 0px 0px;
}

h3.titulo-archivo-adjunto::before {
  counter-increment: section;
  content: " " counter(section) ". ";
}

h5.titulo-archivo-adjunto::before {
  counter-increment: section;
  content: " " counter(section) ". ";
}

.top3.tablaSiniestro {
  gap: 0px
}

.card-body-table .monto {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.monto {
  align-self: stretch;
  position: relative;
  line-height: 140%;
}

//fin cindy

.detalle-siniestro-top table tbody {
  height: 114px;
}

//Splide

ul.splide__list {
  backface-visibility: hidden;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 0 !important;
  margin: 0px 0px 70px 0px !important;
}

.splide__pagination li {
  margin: 7px !important;
}


.splide__pagination {
  bottom: 0.5em;
  left: 0;
  padding: 0 1em;
  position: absolute;
  right: 0;
  z-index: 1;
  //top: 320px;
}

.splide__track.splide__track--draggable {
  padding-left: 1% !important;
}

.splide__arrow--prev {
  left: -2em !important;
}

.splide__arrow--next {
  right: -2em !important;
}

.user-working {
  position: fixed;
  top: 70px;
  right: 65px;
  color: #fff;
  border-radius: 8px;
  z-index: 3;
}
