// Reescribir Colores

// Cardif
$verde: #00965e;
$neutral: #eeeeee;
$titulo-cabecera: #231d19;
$textos: #56504c;
$texto-claros: #efe9e5;
$placeholder: #89837f;


// Itau
$naranja: #ec7000;
$naranja-hover: #bc5900;
$light-01: #fee082;
$light-02: #fef3e0;

// CLA
$azul: #003399;
$azul-hover: #00287a;
$light-03: #c2c9ea;
$light-04: #e7eaf7;

// Fin Reescribir Colores

$primary: $verde;




// Importar Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

