// Reescribir Colores

// Cardif
$verde: #00965e;
$neutral: #eeeeee;
$titulo-cabecera: #231d19;
$textos: #56504c;
$texto-claros: #efe9e5;
$placeholder: #89837f;

// Itau
$naranja: #ec7000;
$naranja-hover: #bc5900;
$light-01: #fee082;
$light-02: #fef3e0;
$azul: #003399;
$azul-hover: #00287a;
$light-03: #c2c9ea;
$light-04: #e7eaf7;
$verde: #4cac8b;
$neutral: #faf7f5;
$titulo-cabecera: #231d19;
$textos: #56504c;
$placeholder: #89837f;
$bordes-card: #efe9e5;
$yellow: #f5c66d;

// CLA
$azul: #003399;
$azul-hover: #00287a;
$light-03: #c2c9ea;
$light-04: #e7eaf7;

// Fin Reescribir Colores

// Colores
$primary: $naranja;
$secondary: #003399;
$success: $light-03;
$info: #007ab7;
$light: #ffffff;
$dark: $azul-hover;

//botones
$btn-border-width: 2px;
$btn-padding-y: 10px;

//boton disabled
.btn:disabled,
.btn.disabled,
fieldset:disabled .btn {
  color: #56504c !important;
  pointer-events: none;
  background-color: #d9d3cf !important;
  border-color: #d9d3cf !important;
  opacity: var(--bs-btn-disabled-opacity);
}

//inputs
$input-padding-y-lg: 11px;
$input-font-size-lg: 1rem;
$input-font-size: 0.9rem;
$input-font-weight: normal;

//floating inputs
$form-floating-label-transform: translateY(-60%) scale(0.9) translateX(10%);
$form-floating-transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;

//form
$form-floating-height: 3rem;
$form-select-border-radius: 8px;
$form-select-border-radius-lg: 8px;

//acordeon
$accordion-border-color: $bordes-card;
$accordion-border-radius: 8px;
$accordion-inner-border-radius: 8px;
$accordion-icon-color: $naranja;
$accordion-button-icon: url(../img/ic_flecha.svg);

//Tooltips
$tooltip-bg: #000000;

//modal
$modal-content-color: $textos;
$modal-content-border-radius: 12px;
$modal-inner-padding: 32px;

//tipografias
$headings-font-family: "ItauDisplay";
$headings-color: $titulo-cabecera;

$itautextpro: "itauRegular";
$itaudisplay: "ItauDisplay";

//alertas
$alert-border-radius: 8px;
$input-border-radius: 8px;

//barras de progreso
$position-values: (
  0: 0,
  25: 25%,
  35: 30%,
  50: 50%,
  70: 65%,
  75: 75%,
  100: 100%,
);

//Border
$toast-border-radius: 8px;
$border-radius: 8px;

//Year active naranja
.datepicker table tr td span.active,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover {
  background-image: -webkit-linear-gradient(top, #ec7000, #ec7000) !important;
}

body {
  font-family: "ItauRegular", sans-serif; /*Specify your font name here*/
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
// Fonts
@font-face {
  font-family: "ItauRegular";
  src: url("../../src/fonts/ItauTextPro_W_Rg.woff2");
}

@font-face {
  font-family: "ItauDisplay";
  src: url("../../src/fonts/ItauDisplayPro_W_Bd.woff2");
}

// Importar Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
